In [1]:
import socket

try:
    s = socket.create_connection(("10.143.61.5", 1433), timeout=3)
    print("✅ SQL Server is reachable!")
except Exception as e:
    print("❌ Connection failed:", e)

✅ SQL Server is reachable!

In [2]:
import pandas as pd
from sqlalchemy import create_engine

username = 'ccna'
password = 'Hamed/.1234'
server_ip = '10.143.61.5'
database = 'TelcoData'

conn_str = (
    f"mssql+pyodbc://{username}:{password}"
    f"@{server_ip}/{database}?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=no"
)

engine = create_engine(conn_str)
# df = pd.read_sql("SELECT TOP 100 * FROM [WA_Fn-UseC_-Telco-Customer-Churn]", engine,)
df = pd.read_sql("SELECT * FROM [WA_Fn-UseC_-Telco-Customer-Churn]", engine,)
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.7,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.2,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.6,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.4,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No
7043,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn

In [3]:
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA, KernelPCA
import matplotlib.pyplot as plt

In [5]:
# Assuming df is already defined with a 'tenure' column containing numeric values
current_date = pd.to_datetime("2025-08-27")

# Make sure tenure column contains numeric values and handle any non-numeric values
df['tenure'] = pd.to_numeric(df['tenure'], errors='coerce')

# Convert tenure to integer before applying DateOffset
# Using fillna(0) to handle any NaN values that might result from the conversion
df['start_date'] = df['tenure'].fillna(0).apply(lambda x: current_date - pd.DateOffset(months=int(x)))

In [6]:
# df.info()

In [7]:
df['end_date'] = df['Churn'].apply(
    lambda x: current_date if x == 'No' else current_date - pd.DateOffset(months=1)
)

In [8]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,start_date,end_date
0,7590-VHVEG,Female,0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,2025-07-27,2025-08-27
1,5575-GNVDE,Male,0,No,No,34.0,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,No,2022-10-27,2025-08-27
2,3668-QPYBK,Male,0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,2025-06-27,2025-07-27
3,7795-CFOCW,Male,0,No,No,45.0,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No,2021-11-27,2025-08-27
4,9237-HQITU,Female,0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.7,151.65,Yes,2025-06-27,2025-07-27

In [9]:
df['Churn'] =df['Churn'].map({'No': 0,'Yes': 1})
# X = data[['Monthly_Purchase_Count', 'Average_Purchase_Amount', 'Visit_Time_code']]

In [10]:
# df['Contract'].unique()

In [11]:
df['Contract'] =df['Contract'].map({'Month-to-month': 0,'One year': 1, 'Two year': 2})

In [12]:
df['gender'] =df['gender'].map({'Female': 0,'Male': 1})

In [13]:
new_tables = df[['Churn','Contract','MonthlyCharges','TotalCharges','gender','tenure','start_date','end_date']].copy()

In [14]:
new_tables

,Churn,Contract,MonthlyCharges,TotalCharges,gender,tenure,start_date,end_date
0,0.0,0.0,29.85,29.85,0.0,1.0,2025-07-27,2025-08-27
1,0.0,1.0,56.95,1889.5,1.0,34.0,2022-10-27,2025-08-27
2,1.0,0.0,53.85,108.15,1.0,2.0,2025-06-27,2025-07-27
3,0.0,1.0,42.3,1840.75,1.0,45.0,2021-11-27,2025-08-27
4,1.0,0.0,70.7,151.65,0.0,2.0,2025-06-27,2025-07-27
...,...,...,...,...,...,...,...,...
7039,0.0,1.0,103.2,7362.9,0.0,72.0,2019-08-27,2025-08-27
7040,0.0,0.0,29.6,346.45,0.0,11.0,2024-09-27,2025-08-27
7041,1.0,0.0,74.4,306.6,1.0,4.0,2025-04-27,2025-07-27
7042,0.0,2.0,105.65,6844.5,1.0,66.0,2020-02-27,2025-08-27
7043,NaN,NaN,MonthlyCharges,TotalCharges,NaN,NaN,2025-08-27,2025-07-27

In [15]:
# new_tables.isna().sum()

In [16]:
# new_tables.isna().sum() / new_tables.shape[0] * 100

In [17]:
new_tables.dropna(inplace=True)

In [18]:
# new_tables.isna().sum()

In [19]:
new_tables.dtypes

Churn                    float64
Contract                 float64
MonthlyCharges            object
TotalCharges              object
gender                   float64
tenure                   float64
start_date        datetime64[ns]
end_date          datetime64[ns]
dtype: object

# convert string or object to  float64

In [20]:
new_tables['MonthlyCharges'] = new_tables['MonthlyCharges'].astype(float)
new_tables['TotalCharges'] = pd.to_numeric(new_tables['TotalCharges'], errors='coerce')

# if isinstance(new_tables['TotalCharges'], str) and value.replace('.', '', 1).isdigit():
#     float_value = float(new_tables['TotalCharges']

# new_tables['TotalCharges'] = pd.to_numeric(new_tables['TotalCharges'], errors='coerce')

# m = new_tables['MonthlyCharges']
# float_value = float(m)
# print(float_value)

# new_tables['start_date'] = new_tables['start_date'].astype(float)

In [21]:
from datetime import datetime

# فرض کن ستون تاریخ خرید داری
new_tables['end_date'] = pd.to_datetime(new_tables['end_date'], errors='coerce')

# تاریخ امروز
today = pd.to_datetime('today')

# محاسبه فاصله به روز
new_tables['end_date'] = (today - new_tables['end_date']).dt.days

In [22]:
# فرض کن ستون تاریخ خرید داری
new_tables['start_date'] = pd.to_datetime(new_tables['start_date'], errors='coerce')

# تاریخ امروز
today = pd.to_datetime('today')

# محاسبه فاصله به روز
new_tables['start_date'] = (today - new_tables['start_date']).dt.days

In [23]:
new_tables.dtypes

Churn             float64
Contract          float64
MonthlyCharges    float64
TotalCharges      float64
gender            float64
tenure            float64
start_date          int64
end_date            int64
dtype: object

In [24]:
new_tables.head()

,Churn,Contract,MonthlyCharges,TotalCharges,gender,tenure,start_date,end_date
0,0.0,0.0,29.85,29.85,0.0,1.0,31,0
1,0.0,1.0,56.95,1889.50,1.0,34.0,1035,0
2,1.0,0.0,53.85,108.15,1.0,2.0,61,31
3,0.0,1.0,42.30,1840.75,1.0,45.0,1369,0
4,1.0,0.0,70.70,151.65,0.0,2.0,61,31

In [25]:
new_tables['end_date'].min()

0

In [26]:
X_scaled = StandardScaler().fit_transform(new_tables)

In [27]:
new_tables.isna().sum() / new_tables.shape[0] * 100

Churn             0.000000
Contract          0.000000
MonthlyCharges    0.000000
TotalCharges      0.156183
gender            0.000000
tenure            0.000000
start_date        0.000000
end_date          0.000000
dtype: float64

In [28]:
new_tables.dropna(inplace=True)

In [29]:
new_tables.isna().sum() / new_tables.shape[0] * 100

Churn             0.0
Contract          0.0
MonthlyCharges    0.0
TotalCharges      0.0
gender            0.0
tenure            0.0
start_date        0.0
end_date          0.0
dtype: float64

In [30]:
new_tables.isna().sum()

Churn             0
Contract          0
MonthlyCharges    0
TotalCharges      0
gender            0
tenure            0
start_date        0
end_date          0
dtype: int64

In [37]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')  # یا 'median' یا 'most_frequent'
X_clean = imputer.fit_transform(new_tables)

In [40]:
pca = PCA(n_components=3)
X_pca = pca.fit_transform(X_scaled)

ValueError: Input X contains NaN.
PCA does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
plt.figure(figsize=(8,6))
plt.scatter(X_pca[:,0], X_pca[:,1],c=new_tables['Contract'], cmap='coolwarm')
plt.xlabel('pca1')
plt.ylabel('pca2')
plt.title('coustomer data after pca')
plt.colorbar(label ='visit time(0=morning,1=evening)')
plt.grid(True)
plt.show()

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans  = KMeans(n_clusters=3, random_state=11).fit_predict(X_pca)

In [ ]:
plt.figure(figsize=(8,6))
plt.scatter(X_pca[:,0], X_pca[:,1], c=kmeans, cmap= 'viridis')

In [ ]:
from sklearn.cluster import KMeans
from sklearn.cluster import SpectralClustering
from sklearn.cluster import DBSCAN
from sklearn.cluster import AgglomerativeClustering
from sklearn.mixture import GaussianMixture
from sklearn.cluster import MeanShift
from sklearn.cluster import Birch
from sklearn.cluster import OPTICS

In [ ]:
k = KMeans(n_clusters=2, random_state=11).fit_predict(X_pca)
S = SpectralClustering(n_clusters=2, random_state=11).fit_predict(X_pca)
D = DBSCAN(eps=0.2, min_samples=3).fit_predict(X_pca)
A = AgglomerativeClustering(n_clusters=2).fit_predict(X_pca)
G = GaussianMixture(n_components=2).fit_predict(X_pca)
M = MeanShift(bandwidth=2).fit_predict(X_pca)
B = Birch(n_clusters=2).fit_predict(X_pca)
O = OPTICS(eps=0.2, min_samples=3).fit_predict(X_pca)

In [ ]:
plt.figure(figsize=(22,4))
plt.subplot(181)
plt.title('KMeans')
plt.scatter(X_pca[:,0], X_pca[:,1], c=k, cmap= 'viridis')

plt.subplot(182)
plt.title('SpectralClustering')
plt.scatter(X_pca[:,0], X_pca[:,1], c=S, cmap= 'viridis')

plt.subplot(183)
plt.title('DBSCAN')
plt.scatter(X_pca[:,0], X_pca[:,1], c=D, cmap= 'viridis')

plt.subplot(184)
plt.title('AgglomerativeClustering')
plt.scatter(X_pca[:,0], X_pca[:,1], c=A, cmap= 'viridis')

plt.subplot(185)
plt.title('GaussianMixture')
plt.scatter(X_pca[:,0], X_pca[:,1], c=G, cmap= 'viridis')

plt.subplot(186)
plt.title('MeanShift')
plt.scatter(X_pca[:,0], X_pca[:,1], c=M, cmap= 'viridis')

plt.subplot(187)
plt.title('Birch')
plt.scatter(X_pca[:,0], X_pca[:,1], c=B, cmap= 'viridis')

plt.subplot(188)
plt.title('OPTICS')
plt.scatter(X_pca[:,0], X_pca[:,1], c=O, cmap= 'viridis')

In [ ]:
new_tables['Cluster'] = kmeans

In [ ]:
new_tables.groupby('Cluster')[['Churn', 'Contract', 'end_date', 'MonthlyCharges','TotalCharges','gender','tenure']].mean()

In [ ]:
from sklearn.metrics import adjusted_mutual_info_score

In [ ]:
score1 = adjusted_mutual_info_score(new_tables['Churn'],k)
score2 = adjusted_mutual_info_score(new_tables['Churn'],S)
score3 = adjusted_mutual_info_score(new_tables['Churn'],D)
score4 = adjusted_mutual_info_score(new_tables['Churn'],A)
score5 = adjusted_mutual_info_score(new_tables['Churn'],G)
score6 = adjusted_mutual_info_score(new_tables['Churn'],M)
score7 = adjusted_mutual_info_score(new_tables['Churn'],B)
score8 = adjusted_mutual_info_score(new_tables['Churn'],O)

In [ ]:
print(score1,
score2,
score3,
score4,
score5,
score6,
score7,
score8)

In [ ]:
plt.scatter(X_pca[:,0], X_pca[:,1],c=S, cmap='Set1')

In [ ]:
plt.figure(figsize=(22,4))
plt.subplot(181)
plt.title('KMeans')
plt.scatter(X_pca[:,0], X_pca[:,1], c=k, cmap= 'Set1')

plt.subplot(182)
plt.title('SpectralClustering')
plt.scatter(X_pca[:,0], X_pca[:,1], c=S, cmap= 'Set1')

plt.subplot(183)
plt.title('DBSCAN')
plt.scatter(X_pca[:,0], X_pca[:,1], c=D, cmap= 'Set1')

plt.subplot(184)
plt.title('AgglomerativeClustering')
plt.scatter(X_pca[:,0], X_pca[:,1], c=A, cmap= 'Set1')

plt.subplot(185)
plt.title('GaussianMixture')
plt.scatter(X_pca[:,0], X_pca[:,1], c=G, cmap= 'Set1')

plt.subplot(186)
plt.title('MeanShift')
plt.scatter(X_pca[:,0], X_pca[:,1], c=M, cmap= 'Set1')

plt.subplot(187)
plt.title('Birch')
plt.scatter(X_pca[:,0], X_pca[:,1], c=B, cmap= 'Set1')

plt.subplot(188)
plt.title('OPTICS')
plt.scatter(X_pca[:,0], X_pca[:,1], c=O, cmap= 'Set1')

In [ ]:
import numpy as np
np.unique(k)

In [ ]:
colors = ['red', 'blue', 'gray']  # خوشه 0، خوشه 1، نویز
plt.scatter(X_pca[:,0], X_pca[:,1], c=[colors[i] if i!=-1 else 'gray' for i in D])